<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>王者荣耀</string>
		<string>S31赛季 东方来客</string>
	</array>
	<array>
		<string>地铁跑酷 - 官方中文版</string>
		<string>全球经典跑酷游戏</string>
	</array>
	<array>
		<string>我的汤姆猫2</string>
		<string>快来认识最好的会说话的宠物猫！</string>
	</array>
	<array>
		<string>登山赛车2 - Hill Climb Racing 2</string>
		<string>在这款线上赛车竞速游戏中登上山峰！</string>
	</array>
	<array>
		<string>ProCCD - 复古CCD相机滤镜</string>
		<string>模拟低像素dcr数码相机，专业怀旧胶片滤镜</string>
	</array>
</array>
</plist>
